@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

header {
    background-color: #6f6c6e;
    display: grid;
    grid-template-columns: 150px auto;
    height: 145px;
}

nav {
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
    padding: 35px;
}

h1, h2, h3, h4 {
    font-family: "IM Fell French Canon SC";
    color: #7a0000;
}

p {
    font-family: Lato, Helvetica, sans-serif;
}

#home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #6f6c6e;
    grid-gap: 10px;
}

.logo {
    width: 145px;
}

.msgmain {
    grid-column: 1/3;
    grid-row: 1/2;
    margin: 5px;
}

.sites {
    margin: auto;
    width: 485px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.about {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 100px auto;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: auto;
    width: 485px;
}

.about > h2 {
    grid-row: 1/2;
    grid-column: 1/3;
}
.about > img {
    grid-row: 2/3;
    grid-column: 1/2;
}
.about > .one {
    grid-row: 2/3;
    grid-column: 2/3;
}
.about > .two {
    grid-row: 3/4;
    grid-column: 1/3;
}
.about > .three {
    grid-row: 4/5;
    grid-column: 1/3;
}

#rates {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    grid-gap: 20px;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.msgrates {
    grid-column: 1/4;
    width: 90%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.hourly {
    grid-column: 1/2;
}

.hourly ul {
    list-style-type: none;
}

.weekly {
    grid-column: 2/3;
}

.weekly ul {
    list-style-type: none;
}

.otherly {
    grid-column: 3/4;
}

.otherly ul {
    list-style-type: none;
}

.small {
    width: 100px;
}

footer {
    background-color: #6f6c6e;
    /* color: #050505; */
    padding: 25px 50px;
    /* margin-top: 200px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}