@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

h1, h2, h3. h4 {
    font-family: "IM Fell French Canon SC";
}

p {
    font-family: Lato, Helvetica, sans-serif;
}

/* main {
    text-align: center;
} */

.logo {
    width: 100px;
}

.about {
    display: flex;
}

.small {
    width: 15%;
}

footer {
    display: flex;
}