.grid {
    display: grid;
    grid-template-columns: repeat(12, 50px);
    grid-template-rows: repeat(12, 50px);
}

.outer_white, .inner_white {
    background-color: whitesmoke;
    box-shadow: 5px 5px 0px 5px;
}

.outer_red, .inner_red {
    background-color: red;
    box-shadow: 5px 5px 0px 5px;
}

.outer_red {
    grid-row: 3/11;
    grid-column: 3/11;
}

.outer_white {
    grid-row: 1/13;
    grid-column: 1/13;
}

.inner_red {
    grid-row: 6/8;
    grid-column: 6/8;
}

.inner_white {
    grid-row: 5/9;
    grid-column: 5/9;
}

body {
    background-color: darkgray;
}