.title {
    width: 100%;
    max-width: 3000px;
}

.bottom {
    background-color: darkgray;
    text-align: center;
}

.row {
    width: 15%;
    margin: 50px 50px;
    border: 10px solid black;
    border-radius: 50%;
}
